---
---

@import "{{ site.theme }}";

body {
  background: #02161e;
  color: oldlace;
}

pre.highlight {
    filter: invert(1) brightness(200%) hue-rotate(180deg);
}

.highlight {
    filter: invert(1) brightness(200%) hue-rotate(180deg);
    background: #c4f4f6;
    border-radius: 8px;
    border: none;
}
