---
---

@import "{{ site.theme }}";

body {
  background: #02161e;
  color: oldlace;
}

pre.highlight {
    filter: invert(100%);
    opacity: 90.8%;
    filter: invert(96%) hue-rotate(666deg) brightness(104%);
    background: linen;
}
